<h1>{{title}}</h1>
<p>Вы можете оставить свой отзыв или предложение, заполнив форму ниже:</p>
<form>
    <label for="name">Имя:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="message">Сообщение:</label><br>
    <textarea id="message" name="message"></textarea><br>
    <button type="submit">Отправить</button>
</form>